<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <display-name>SignUpServlet</display-name>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlet.SignUpServlet</servlet-class>
    </servlet>

    <servlet>
        <display-name>SignInServlet</display-name>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>servlet.SignInServlet</servlet-class>
    </servlet>

    <servlet>
        <display-name>LogOutServlet</display-name>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>servlet.LogOutServlet</servlet-class>
    </servlet>
    
    <filter>
        <filter-name>HintsCount</filter-name>
        <filter-class>filter.HintsCount</filter-class>
    </filter>

    <!-- mappings -->

    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <filter-mapping>
        <filter-name>HintsCount</filter-name>
        <url-pattern>/*.html</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>

</web-app>